

/* ==========================================================================
   Global
   ========================================================================== */

/* Document level adjustments */
html {
    font-size: 17px;
}
@media (max-width: 900px) {
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; }
}

.separate-line {
    border-top: 1px solid #ccc;
}

.clearfix {
    clear: both;
}

.first-content-header {
    font-size: 36px;
    }
    .first-content-header.orange {
        color: #fc9538;
    }
    .first-content-header.pink {
        color: #ff5564;
    }
.sub-content-header {
    color: #363636;
    font-size: 36px;
}
.contact-us-content-header {
    margin: 10px 0px;
    color: #7f7f7f;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.section {
    padding-top: 35px;
    padding-bottom: 35px;
    }
    .section.grey {
        background-color: #dbdbdb;
    }
    .content {
        color: #7f7f7f;
    }

.img-center {
    text-align: center;
    }
    .img-center img {
        display: inline;
    }

.line-separate {
    border-bottom: 1px solid #7f7f7f;
    height: 1px;
    width: 100%;
    margin: 20px 0 10px 0;
}

.padding-left-20 {
    padding-left: 20px;
}




/* ==========================================================================
   Table list
   ========================================================================== */

.table-list {
    width: 100%;
    margin-bottom: 10px;
    }
    .table-list td, .table-list th {
            padding-bottom: 10px;
        }




/* ==========================================================================
   Responsive
   ========================================================================= */

@media screen and (min-width: 768px) {
}



@media screen and (max-width: 991px) {
}


@media screen and (max-width: 767px) {
}